:root {
  --bg-curvy-src: url("./assets/bg-curvy-mobile.svg");
  --cta-gradient: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  --16px-to-rem: 1.143rem;
}

/* Larger than Mobile*/
@media only screen
and (min-width: 376px) {
  :root {
    --bg-curvy-src: url("./assets/bg-curvy-desktop.svg");
  }

  h3 {
    font-size: calc(1.4rem + 1vw);
    line-height: 1.3;
  }

  /* Header Media */
  header ul {
    margin-left: auto;
    max-width: 300px;
  }

  /* Font Sizing */
  #above-fold > p { font-size: var(--16px-to-rem); }

  .cta-button { font-size: var(--16px-to-rem); }

  /* Grid */
  #features {
    align-items: flex-start;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
  }

  /* Anchors */
  #stay-productive {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 10% 0;
  }

  #stay-productive > div > h3, #stay-productive > div > p {
    margin-bottom: 3%;
  }

  #stay-productive > img {
    margin: 5%;
  }
}

/* Grid in Mobile */
@media only screen
and (max-width: 867px) {
  #features {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: calc(1rem + 1vw);
    max-width: border-box;
  }

  /* Add in some spacing for items listed in the flex. */
  .features-entry:not(:first-child) {
    margin-top: 20vw;
  }

  #stay-productive {
    margin: 20vw 0;
  }

  #stay-productive > img {
    margin: 10%;
  }
  #stay-productive > div > h3, #stay-productive > div > p {
    margin-bottom: 5%;
  }
}

/* Grid in Mobile */
@media only screen
and (min-width: 867px) {
  .features-entry:nth-child(4n + 1), .features-entry:nth-child(4n + 2) {
    margin-bottom: 10vh;
  }

  h3 {
    max-width: 70%;
  }

  /* Anchors */
  #stay-productive > * {
    max-width: 45%;
  }
}

/* Global */
html {
  background: linear-gradient(to bottom, hsl(217, 28%, 15%), hsl(217, 28%, 15%) 100vh, hsl(218, 28%, 13%) 100vh, hsl(218, 28%, 13%));
  color: hsl(0, 0%, 100%);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

li { list-style: none; }

main {
  background: hsl(218, 28%, 13%);
  padding: 25vh 10% 0;
}

/* Font Sizing */

p { margin-top: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
}

h1 {
  font-size: calc(1.4rem + 1vw);
  max-width: 600px;
}

#above-fold > p {
  max-width: 425px;
}

/* Helpers */
.text-center { text-align: center; }

.flex { display: flex; }

.flex-dir-col { flex-direction: column; }

.flex-align-cen { align-items: center; }

/* Header */
header {
  align-items: center;
  display: grid;
  grid: 1fr / 22vw 1fr;
  padding: 5%;
}

header ul {
  display: flex;
  flex-direction: row;
  /*font-size: 1rem;*/
  justify-content: space-between;
}

.fylo-logo {
  max-height: 52px;
  max-width: 176px;
  width: 100%;
}

/* FIXME: Chrome renders too much space around above-fold image. */

/* Buttons */
button {
  cursor: pointer;
}

.cta-button {
  background: var(--cta-gradient);
  border: none;
  border-radius: 50px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  max-width: 200px;
  padding: 15px 0;
  width: 100%;
}

/* Images */
.half-width-img {
  height: 50%;
  max-width: 675px;
  min-width: 250px;
  object-fit: scale-down;
  /* Chrome messes with the aspect ratio without this line. */
  width: 50%;
}

/* Anchors */
#above-fold {
  background-size: contain;
  margin-top: 20px;
  padding: 0 10%;
}

#stay-productive > div > h3 {
  white-space: pre-line;
}

/* Features Entry */
.features-entry {
  justify-self: center;
  max-width: 380px;
}

.feature-icon {
  height: 60px;
  width: auto;
}

/* Links */
.cta-link {
  color: hsl(176, 68%, 64%);
  text-decoration: none;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  padding-bottom: 3px;
}
.cta-link::after {
  display: inline-block;
  content: "\279e";
}
